{% extends 'base.html.twig' %}

{% block body %}
  <a href="/submit">Submit new post</a>
    <h1>Trending Posts</h1>
      <table>
        {% for post in posts %}
          <tr>
            <td> {{ post.voteCount }} </td><td> <a href="/{{ post.id }}/up">+</a> </td><td> <a href="/{{ post.id }}/down">-</a> </td><td> <a href="/{{ post.id }}">{{ post.postTitle }}</a> </td><td> posted by {{ post.user }}</td>
          </tr>
        {% endfor %}
      </table>
{% endblock %}